html, body {
    height: 100%;
}

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
color: #333;
}

a {
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

/* Header */

.header {
    z-index: 2;
    margin-bottom: 20px;
    background-color: #333;
    transition: .3s height ease;
}

.header__container {
    padding: 0;
}

.header__button {
    display: none;
    background: none;
    font-size: 40px;
    line-height: 40px;
    margin-left: 10px;
    padding: 0;
    border: 0;
    color: #fff;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__navigation {
    display: flex;
    justify-content: center;
}

.header__link {
    display: block;
    padding: 20px;
    color: #fff;
    transition: .3s ease;
}

.header__link:focus {
    background: #252525;
}

.header__link:hover {
    background: #414141;
}

.header__link:active {
    background: #252525;
}

/* Main */

.title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.main__title {
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid #333;
}

.main__sub-title {
    font-size: 22px;
    color: #333;
}

.main__text {
    margin-bottom: 20px;
}

.main__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.main__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc((100% - 20px * 2) / 3);
}

.main__img-block {
    height: 250px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    overflow: hidden;
    background: #000;
}

.main__item-links {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main__item-text-link {
    transition: .3s ease;
    margin-bottom: 20px;
    color: #333;
}

.main__item-text-link:hover {
    color: rgb(0, 34, 255);
}

.main__item-text-link:active {
    color: rgb(255, 0, 0);
}

.main__img {
    width: 100%;
    height: 100%;
    transition: .3s ease;
}

.main__item-title {
    font-size: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: 1px solid #929292;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #4CAF50;
    transition: width 1s ease-in-out;
  }
  
  .main__item-little {
    cursor: pointer;
    border: 1px solid #929292;
    border-radius: 20px;
    box-sizing: border-box;
    width: calc((100% - 20px) / 2);
  }
  
  .main__item-little-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #929292;
    border-radius: 20px;
    box-sizing: border-box;
    width: calc((100% - 20px) / 2);
  }
  
  .main__item-little:hover .main__img-block .main__img {
    opacity: .7;
    transform: scale(1.1);
}

  .main__item-text {
    color: #333;
    padding: 0 20px 20px;
  }

  .main__details-project {
    display: flex;
    flex-direction: column;
  }

  .main__details-project .main__item-text {
    margin-bottom: auto;
  }

  .main__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .main__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .main__input {
    width: 100%;
    line-height: 16px;
    border: 0;
    padding: 20px;
  }

  .main__input[type="submit"] {
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: .3s ease;
  }

  .main__input[type="submit"]:hover {
    background: rgb(80, 80, 80);
  }

  .main__input[type="submit"]:active {
    background: #000;
  }

  .main__item-big {
    width: calc((100% - 20px * 3) / 4);
  }

  .main__contact-img {
    position: relative;
    top: 0;
    display: flex;
    width: 40px;
    height: 40px;
    transition: .3s top ease;
  }

  .flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main__contact-social:hover .main__contact-img {
    top: 10px;
  }

  @media (max-width: 768px) {
    .main__img-block {
        height: 160px;
    }
  }

  @media (max-width: 480px) {
    .header {
        overflow-y: scroll;
        position: fixed;
        align-items: center;
        width: 100%;
        top: 0;
        height: 100vh;
    }

    .header-hidden {
        overflow: hidden;
        height: 40px;
    }

    .header__button {
        display: block;
    }

    .header__list {
        flex-direction: column;
    }

    .main {
        padding-top: 60px;
    }

    .main__item, .main__item-little-project {
        width: 100%;
    }

    .main__item-little {
        width: 100%;
    }
  }